{
  "extends": [
    "airbnb", 
    "prettier",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": ["error", { "singleQuote": false }]
  }
}
