{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "project": "infrastructure/tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "import/prefer-default-export": "off",
        "max-classes-per-file": "off",
        "no-console": "off",
        "no-new": "off"
      }
    }
  ]
}
